.Score {
    display: flex;
    justify-content: space-between;
    padding: 1px 3px;
    border-bottom: 1px solid #6f2dbd;
}

.Score:hover {
    background-color: #624a88;
    cursor: pointer;
    color: #ffffff;
}

.Score.isUsed {
    background-color: #b298dc;
    cursor: not-allowed;
    color: inherit;
}

.Score.Score.isUsed span:first-child {
    text-decoration: line-through;
}

@media (min-width: 358px) {
    .Score {
        padding: 2px 3px;
    }
} 

@media (min-width: 576px) {
    .Score {
        padding: 2px 4px;
    }
}